/*对话框的背景,用于居中对齐*/
.dialog_bg{
	position: absolute;z-index: 100;
	left: 0px;top: 0px;width: 100%;
}
.dialog{
	width: 450px;max-width: 90%;
	margin: 45px auto;border: 1px solid #ddd;
	border-radius: .5em;background-color: #fff;
	box-shadow: 0 0 20px #150F08;
	-webkit-box-shadow: 0 0 20px #150F08;
}
/*对话框标题*/
.dialog_tt{
	padding: .5em 1em;
	border-bottom: 1px solid #ddd;
	border-radius: .5em .5em 0 0;
	background-color: #f5f5f5;
	font-size: 1.2em;line-height: 1.5em;
}
/*对话框内容主体*/
.dialog_bd{
	padding: .5em 2em .5em 2em;
	font-size: 1em;line-height: 1.7em;
}
/*对话框底部*/
.dialog_ft{
	padding: .5em 0;
	border-top: 1px solid #ddd;
	font-size: 1em;line-height: 1.5em;
	height: 1.7em;
}
.dialog_ft button{
	float: right;
	font-size: 1em;
	line-height: 1.2em;
	padding: .3em 1em;
	margin-right: 1em;
	border-radius: .5em;
}
/*对话框内警告或错误内容*/
.dialog_warn{
	color: #a94442;	
	background-color: #f2dede;
	border: 2px dashed #ebccd1;
	padding: .2em 1em;
	border-radius: .5em;
}
/*对话框内的输入框*/
.dialog_input{
	border: 1px solid #ccc;
	border-radius: .5em;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 1.2em;
	width: 95%;
	padding: 0 2%;
	margin: .2em 0;
}
.dialog_input:focus{
	border-color: #66afe9;
	box-shadow: 0 0 20px #66afe9;
	outline: none;
}
.dialog button:focus{outline: none;}
.dialog_ok{
	background-color: #dff0d8;
	border: 1px solid #3c763d;
}
.dialog_ok:active{
	background-color: #3c763d;
}
.dialog_cancel{
	background-color: #fcf8e3;
	border: 1px solid #8a6d3b;
}
.dialog_cancel:active{
	background-color: #8a6d3b;
}
/*适配移动端的样式*/
@media screen and (max-width: 767px){
	
}