/*编辑器样式*/
html,body{
	padding: 0;
	margin: 0;
	font-family:"microsoft yahei";
	height: 100%;
}
body{
	background-color: #282421;
	overflow: hidden;
}

/*编辑器菜单栏*/
#menu{
	width:100%;
	height: 50px;
	color: white;
	border-bottom: 2px solid gray;
}

.menu_side{
	padding: 10px 0;
	margin: 0 1em;	
}

/*编辑器菜单栏内的按钮*/
#menu a{
	margin-right: 1em;
	font-size: 16px;
	line-height: 35px;
	padding-left: 35px;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
}
#menu a:active{color: #DDD;}

/*编辑器菜单栏居中的显示文件名的控件的背景,为了居中*/
#filename{
	position: absolute;
	left: 0;top: 10px;
	width: 100%;height: 35px;
	text-align: center;
	color: white;
	font-size: 15px;line-height: 35px;
	pointer-events: none;/*防止阻挡背后按钮的事件响应*/
}

/*编辑器菜单栏中显示文件名*/
#filename span{
	pointer-events: all;
}


/*编辑器菜单栏中各个按钮的图标*/
a[data-op=new]{background-image:url(../img/file.png);}
a[data-op=open]{background-image:url(../img/folder.png);}
a[data-op=save]{background-image:url(../img/save.png);}
a[data-op=export]{background-image:url(../img/code.png);}
a[data-op=help]{background-image:url(../img/comment.png);}
a[data-op=settings]{background-image:url(../img/tools.png);}

/*编辑器区域*/
#editor{
	padding: 0;
	margin: 0;
	position: relative;
}
.half_wrapper{
	width: 50%;
	position: absolute;
	top: 0;
}
.margin_wrapper{
	margin: 20px;
}

/*编辑器的输入框*/
#input{
	color:#F8F8FF;
	background-color:#282421;
	
	resize: none;
	font-family:"microsoft yahei";
	
	font-size: 1.1em;
	line-height: 1.5em;
	
	overflow: auto;
	border: none;
	
	height: 100%;
	width: 100%;

	display: block;

	scrollbar-base-color: white;
	scrollbar-highlight-color: white;
}
#input:focus{outline: none;}
#input::-webkit-scrollbar{width:0;}
#input::-moz-scrollbar{width:0;}

/*编辑器的预览框*/
#output{
	margin: 20px;
	margin-bottom: 50px;
	word-wrap: break-word;
	font-family: "microsoft yahei";
	background-color: white;
}
.output_wrapper {
	overflow-y: scroll;
}
/*.output_wrapper::-webkit-scrollbar{width:0;}*/

/*用于显示帮助关于以及设置的大对话框*/
#helpset_dlg{
	position: absolute;
	top: 40px;left: 18%;width: 60%;padding:0;
	border: 2px solid #7F8C8D;
	border-radius: 20px;
	box-shadow: 0 0 20px #7F8C8D;
	-webkit-box-shadow: 0 0 20px #7F8C8D;
	background-color: white;
}
/*大对话框的标题*/
#helpset_title{
	border-radius: 20px 20px 0 0;
	padding: .2em 20px;
	font-size: 1.5em;
	background-color: #f5f5f5;
	border-bottom: 2px solid #7F8C8D;
}
/*大对话框的退出按钮*/
#helpset_exit{
	background-color: #FF644D;
	border: .1em solid #DE514A;
	color: #FF644D;
	border-radius: 1em;
	cursor: pointer;
	float: right;
	font-size: .6em;
	width: 1em;line-height: 1.2em;
	margin: .2em 0;
	padding: .2em .2em .2em .4em;
}
#helpset_exit:hover{color: black;}

/*大对话框内的网页容器*/
#helpset_dlg iframe{
	width: 98%;
	margin: 5px 1% 10px 1%;
	height: 600px;
	border: none;
}
